html, body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	position:relative;
	font-family:sans-serif;
	overflow:hidden;
}

/*This is the laptop size*/
@media only screen and (max-width:1440px) and (min-width:769px) {

	/*Editor exteriro*/
	#editorExt {
		width:20em;
		height:100vh;
		background-color:#f8f8f8;
		position:absolute;
		z-index:10000;
		left:0px;
		top:0px;
		overflow:hidden;
	}

	/*editor tools*/
	#editTools {
		width:20em;
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
		position:absolute;
		z-index:10000;
		top:0px;
		left:-20em;
		background-color:#f0f0f0;
	}

	.editSec {
		width:20em;
		height:auto;
		text-align:center;
		color:#303030;
		overflow:hidden;
		display:none;
	}

	.editTitleSecTool {
		width:70%;
		margin:1em auto;
		padding:5px 0px;
		border:5px solid #303030;
	}

	.secToolDesc {
		width:70%;
		margin:auto;
		font-size:16px;
	}

	/*Background Image*/
	#background-preview {
		width:90%;
		height:10em;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		background-image:url("../img/hotel.jpg");
		margin:auto;
		margin-top:1em;
	}

	#background-count {
		width:90%;
		height:4em;
		margin:auto;
		margin-top:1em;
	}

	#background-selection {
		width:90%;
		height:30em;
		margin:auto;
		margin-top:1em;
	}

	#background-animation {
		width:90%;
		height:25em;
		margin:auto;
		margin-top:1em;
		margin-bottom:4em;
	}

	/*Title Preview*/
	#title-preview {
		width:90%;
		margin:auto;
		margin-top:0.75em;
		text-transform:uppercase;
		font-size:26px;
		text-align:center;
	}

	#title-preview:after {
		display:block;
		content:"";
		height:2px;
		width:90%;
		margin:auto;
		margin-top:5px;
		background-color:#303030;
	}

	#title-input-edit {
		width:70%;
		margin:auto;
		margin-top:0.75em;
		font-size:16px;
		outline:none;
		padding-top:3px;
		padding-bottom:3px;
	}

	#preview {
		outline:none;
		padding:5px 15px;
		font-size:14px;
		text-transform:uppercase;
		background-color:transparent;
		color:#303030;
		margin-top:0.75em;
		border:3px solid #303030;
	}

	/*This is the editor*/
	#editor {
		width:100%;
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
	}

	#editorScroll {
		width:100%;
		height:auto;
		overflow:hidden;
		box-shadow:inset 0 0 0 2px #e8e8e8;
	}

	/*Individual Edit Section*/
	.editorSection {
		width:100%;
		height:3em;
		overflow:hidden;
	}

	.editTitleSec {
		width:100%;
		height:3em;
		overflow:hidden;
		background-color:#F0F0F0;
	}

	.editTitleSec:hover {
		background-color:#e8e8e8;
	}

	.editTitle {
		width:100%;
		height:3em;
		overflow:hidden;
		position:relative;
		box-shadow:inset 0 0 0 2px #e8e8e8;
	}

	.editTitle > h1 {
		font-size:15px;
		margin-top:0px;
		position:absolute;
		left:1em;
		top:1.05em;
		color:#303030;
	}

}

@media only screen and (max-width:425px) and (orientation:portrait) {

	
	
}
