::-webkit-scrollbar {
	display:none;
}

html, body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	position:relative;
	font-family:sans-serif;
}

@media only screen and (min-width:769px) {

	/*editor-text*/
	#editor-ext {
		height:100vh;
		width:28em;
		background-color:#dcdcdc;
		position:absolute;
		top:0px;
		left:0px;
		overflow:hidden;
	}

	#editor {
		width:100%;
		height:100%;
		overflow-y:scroll;
		overflow-x:hidden;

	}

	#in-edit {
		width:28em;
		height:auto;
		box-shadow:inset 0 0 0 2px #a9a9a9;
	}

	.editor-blocks {
		width:28em;
		height:4.5em;
		overflow:hidden;
	}

	.editor-title {
		width:28em;
		height:4.5em;
		overflow:hidden;
		position:relative;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		background-color:#c8c8c8;
	}

	.editor-title:hover {
		background-color:#a9a9a9;
	}

	.edit-title {
		cursor:default;
	}

	.open {
		width:1.5em;
		height:1.5em;
		background-color:#484848;
		border-radius:50%;
		position:absolute;
		top:1.45em;
		right:3em;
	}

	.learn-more {
		width:1.5em;
		height:1.5em;
		background-color:#484848;
		border-radius:50%;
		position:absolute;
		top:1.45em;
		right:1em;
	}

	.edit-title {
		text-transform:uppercase;
		margin-top:0px;
		position:absolute;
		top:1.4em;
		left:1em;
		color:#484848;
	}

	.editor-desc {
		width:28em;
		height:auto;
		overflow:hidden;
		text-align:center;
		background-color:#f3f3f3;
	}

	.desc {
		width:70%;
		margin:auto;
		margin-top:1em;
		margin-bottom:1em;
	}

	/*These are the editing tools*/
	#background-image-edit, #icon-image-edit,
	#title-edit, #date-edit, 
	#button-edit, #shadow-box-edit {
		width:28em;
		height:100vh;
		position:absolute;
		z-index:10000;
		top:0px;
		left:-28em;
		background-color:#dcdcdc;
	}

	/*button save publish*/
	#sp-button {
		width:28em;
		height:3.25em;
		position:absolute;
		left:0px;
		bottom:0px;
		box-shadow:inset 0 0 0 2px #a9a9a9;
	}

	#save {
		height:3.25em;
		width:14em;
		background-color:#c8c8c8;
		float:left;
		overflow:hidden;
		text-align:center;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		float:left;
	}

	#publish {
		height:3.25em;
		width:14em;
		background-color:#c8c8c8;
		float:left;
		overflow:hidden;
		text-align:center;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		float:left;
	}

	#publish:hover, #save:hover {
		background-color:#a9a9a9;
	}

}

/*This is the code that reacts to screen size*/
/*@media only screen and (min-width:769px) {*/

	/*close and settings button*/
	/*
	#close {
		width:6vh;
		height:6vh;
		position:absolute;
		z-index:1000;
		top:1vh;
		left:40vw;
		background-color:#e0e0e0;
	}

	#settings {
		width:6vh;
		height:6vh;
		position:absolute;
		z-index:1000;
		top:8vh;
		left:40vw;
		background-color:#e0e0e0;
	}*/

	/*Editor Section*/
	/*
	#editor-ext {
		height:100vh;
		width:40vw;
		position:absolute;
		z-index:1000;
		top:0px;
		left:0px;
		overflow:hidden;
		background-color:#f3f3f3;
	}

	#editor {
		width:40vw;
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
	}

	#in-edit {
		width:40vw;
		height:auto;
		margin-bottom:9vh;
	}

	.editor-blocks {
		width:40vw;
		height:10vh;
		overflow:hidden;
		transition:all 0.75s ease;
	}

	.editor-title {
		width:40vw;
		height:10vh;
		position:relative;
		background-color:#e8e8e8;
		overflow:hidden;
		box-shadow:inset 0 0 0 2px #e0e0e0;
	}

	.editor-title:hover {
		background-color:#e0e0e0;
	}

	.edit-title {
		margin-top:0px;
		font-size:2.5vh;
		text-transform:uppercase;
		width:13em;
		padding:10px;
		color:#484848;
		text-align:center;
		position:absolute;
		left:2vh;
		top:2.15vh;
		cursor:default;
		box-shadow:inset 0 0 0 3px #484848;
	}

	.edit-title:hover {
		background-color:#484848;
		color:#f3f3f3;
	}

	.learn-more {
		width:3vh;
		height:3vh;
		background-color:#484848;
		position:absolute;
		top:3.5vh;
		right:2vh;
		border-radius:50%;
	}

	.editor-desc {
		width:40vw;
		height:auto;
		overflow:hidden;
		background-color:#fff;
		text-align:center;
	}

	.desc {
		font-size:2.45vh;
		width:70%;
		margin:3vh auto;
		color:#484848;
	}*/

	/*Edit Sections and Tools*/
	/*
	#background-image-edit, #icon-image-edit,
	#title-edit, #date-edit, 
	#button-edit, #shadow-box-edit {
		width:40vw;
		height:100vh;
		overflow:hidden;
		position:absolute;
		z-index:100;
		top:0px;
		left:-40vw;
		background-color:#f3f3f3;
	}

	.section-title {
		width:40vw;
		height:10vh;
		text-align:center;
		overflow:hidden;
		background-color:#e0e0e0;
	}

	.sec-title {
		font-size:2.5vh;
		text-transform:uppercase;
		margin-top:3.5vh;
	}

	.in-section {
		width:40vw;
		height:90vh;
		overflow-x:hidden;
		overflow-y:scroll;
	}

	.section {
		width:40vw;
		height:auto;
		margin-top:3vh;
		margin-bottom:9vh;
		text-align:center;
	}

	.sec-t {
		text-transform:uppercase;
		font-size:2.25vh;
		margin-top:3vh;
	}

	#back-img-preview {
		width:90%;
		height:40vh;
		background-image:url("../img/hotel.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;	
		margin:2vh auto;
	}

	#back-img-count {
		width:90%;
		height:10vh;
		margin:auto;
		margin-top:3vh;
	}

	#back-img-sel {
		width:90%;
		height:40vh;
		margin:auto;
		margin-top:3vh;
	}

	#back-img-sha {
		width:90%;
		height:10vh;
		margin:3vh auto;
	}

	#back-img-ani {
		width:90%;
		height:20vh;
		margin:3vh auto;
	}*/

	/*Save Button*/

	/*#sp-button {
		height:9vh;
		width:40vw;
		position:absolute;
		z-index:1000;
		bottom:0px;
		left:0px;
		position:fixed;
		box-shadow:inset 0 0 0 2px #c0c0c0;
	}

	#save {
		width:20vw;
		height:9vh;	
		text-align:center;
		overflow:hidden;
		float:left;
		background-color:#e0e0e0;
		box-shadow:inset 0 0 0 2px #c0c0c0;
	}

	#publish {
		width:20vw;
		height:9vh;
		text-align:center;
		overflow:hidden;
		float:left;
		background-color:#e0e0e0;
		box-shadow:inset 0 0 0 2px #c0c0c0;
	}*/

/*}*/