::-webkit-scrollbar {
	display:none;
}

html, body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	position:relative;
	font-family:sans-serif;
}

@media only screen and (min-width:769px) {

	/*editor-text*/
	#editor-ext {
		height:100vh;
		width:28em;
		background-color:#dcdcdc;
		position:absolute;
		top:0px;
		left:0px;
		overflow:hidden;
	}

	#editor {
		width:100%;
		height:100%;
		overflow-y:scroll;
		overflow-x:hidden;

	}

	#in-edit {
		width:28em;
		height:auto;
		box-shadow:inset 0 0 0 2px #a9a9a9;
	}

	.editor-blocks {
		width:28em;
		height:4.5em;
		overflow:hidden;
	}

	.editor-title {
		width:28em;
		height:4.5em;
		overflow:hidden;
		position:relative;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		background-color:#c8c8c8;
	}

	.editor-title:hover {
		background-color:#a9a9a9;
	}

	.edit-title {
		cursor:default;
	}

	.open {
		width:1.5em;
		height:1.5em;
		background-color:#484848;
		border-radius:50%;
		position:absolute;
		top:1.45em;
		right:3em;
	}

	.learn-more {
		width:1.5em;
		height:1.5em;
		background-color:#484848;
		border-radius:50%;
		position:absolute;
		top:1.45em;
		right:1em;
	}

	.edit-title {
		text-transform:uppercase;
		margin-top:0px;
		position:absolute;
		top:1.4em;
		left:1em;
		color:#484848;
	}

	.editor-desc {
		width:28em;
		height:auto;
		overflow:hidden;
		text-align:center;
		background-color:#f3f3f3;
	}

	.desc {
		width:70%;
		margin:auto;
		margin-top:1em;
		margin-bottom:1em;
	}

	/*These are the editing tools*/
	#background-image-edit, #icon-image-edit,
	#title-edit, #date-edit, 
	#button-edit, #shadow-box-edit {
		width:28em;
		height:100vh;
		position:absolute;
		z-index:10000;
		top:0px;
		left:-28em;
		background-color:#dcdcdc;
	}

	/*button save publish*/
	#sp-button {
		width:28em;
		height:3.25em;
		position:absolute;
		left:0px;
		bottom:0px;
		box-shadow:inset 0 0 0 2px #a9a9a9;
	}

	#save {
		height:3.25em;
		width:14em;
		background-color:#c8c8c8;
		float:left;
		overflow:hidden;
		text-align:center;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		float:left;
	}

	#publish {
		height:3.25em;
		width:14em;
		background-color:#c8c8c8;
		float:left;
		overflow:hidden;
		text-align:center;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		float:left;
	}

	#publish:hover, #save:hover {
		background-color:#a9a9a9;
	}

}

@media only screen and (max-width:768px) and (orientation:portrait) {

	/*Editor*/
	#editor-ext {
		width:100vw;
		height:100vh;
		overflow:hidden;
	}

	#editor {
		width:100%;
		height:100%;
		overflow-y:hidden;
		overflow-x:scroll;
	}

	#in-edit {
		width:120vw;
		height:100vh;
		box-shadow:inset 0 0 0 2px #a9a9a9;
	}

	.editor-blocks {
		width:40vw;
		height:50vh;
		float:left;
		background-color:#c8c8c8;
		box-shadow:inset 0 0 0 2px #a9a9a9;
	}

	/*These are the editing tools*/
	#background-image-edit, #icon-image-edit,
	#title-edit, #date-edit, 
	#button-edit, #shadow-box-edit {
		display:none;
	}

}

@media only screen and (orientation:landscape) and (max-width:800px) {

	/*These are the editing tools*/
	#background-image-edit, #icon-image-edit,
	#title-edit, #date-edit, 
	#button-edit, #shadow-box-edit {
		display:none;
	}

}

@media only screen and (max-width:425px) and (orientation:portrait) {

	/*editor-text*/
	#editor-ext {
		width:90vw;
		height:85vh;
		overflow:hidden;
		position:absolute;
		z-index:1000;
		left:5vw;
		bottom:5vh;
		background-color:#dcdcdc;
	}

	#editor {
		width:100%;
		height:100%;
		overflow-x:hidden;
		overflow-y:scroll;
	}

	#in-edit {
		width:100%;
		height:auto;
		box-shadow:inset 0 0 0 2px #a9a9a9;
	}

	.editor-blocks {
		width:100%;
		height:4.5em;
		overflow:hidden;
	}

	.editor-title {
		width:100%;
		height:4.5em;
		overflow:hidden;
		position:relative;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		background-color:#c8c8c8;
	}

	.editor-title:hover {
		background-color:#a9a9a9;
	}

	.edit-title {
		cursor:default;
		text-align:center;
		text-transform:uppercase;
		color:#484848;
		margin-top:1.15em;
	}	

	.editor-desc {
		width:28em;
		height:auto;
		overflow:hidden;
		text-align:center;
		background-color:#f3f3f3;
	}

	.desc {
		width:70%;
		margin:auto;
		margin-top:1em;
		margin-bottom:1em;
	}

	/*These are the editing tools*/
	#background-image-edit, #icon-image-edit,
	#title-edit, #date-edit, 
	#button-edit, #shadow-box-edit {
		display:none;
	}

	/*Save publish button*/
	#sp-button {
		width:100%;
		height:3.25em;
		position:absolute;
		z-index:1000;
		bottom:0px;
		left:0px;
		box-shadow:inset 0 0 0 2px #a9a9a9;
	}

	#save {
		height:3.25em;
		width:50%;
		background-color:#c8c8c8;
		float:left;
		overflow:hidden;
		text-align:center;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		float:left;
	}

	#publish {
		height:3.25em;
		width:50%;
		background-color:#c8c8c8;
		float:left;
		overflow:hidden;
		text-align:center;
		box-shadow:inset 0 0 0 2px #a9a9a9;
		float:left;
	}

}
